{
  "only": ["static/develop/**/*.js"],
  "ignore": ["static/develop/**/jquery.js"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": { "browsers": ["> 0.5% in CN", "> 1%", "ie > 8"] }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ]
}
