{
  "only": [
    "static/develop/js/**/*.js",
    "static/develop/js/view/**/*.js",
    "static/develop/js/**/*.css.js",
    "static/develop/loader/css-loader.js"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "browsers": ["> 0.5% in CN", "> 1%", "ie > 8"]
        },
        "modules": false
      }
    ]
  ]
}
