.ui-dialog {
  background-color: rgba(0, 0, 0, 0.3);
  border: none; outline: none;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#4c000000", endColorstr="#4c000000");
  padding: 8px; border-radius: 3px;
  /* http://ued.taobao.com/blog/2011/04/onfocus-this-blur/ */
}
:root .ui-dialog {
  filter: none \9;
}
.ui-dialog-close {
  color: #999;
  cursor: pointer;
  display: block;
  font-family: tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 18px;
  line-height: 14px;
  position: absolute;
  right: 16px;
  text-decoration: none;
  top: 16px;
  z-index: 10;
}
.ui-dialog-close:hover {
  color: #666;
  text-shadow: 0 0 2px #aaa;
  text-decoration: none;
}
.ui-dialog-title {
  height: 45px;
  font-size: 16px;
  font-family: Microsoft YaHei, SimHei, Arial, sans-serif;
  line-height: 46px;
  border-bottom: 1px solid #e1e1e1;
  color: #4d4d4d;
  text-indent: 20px;
  background-color: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
  background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#f9f9f9");
  background: -o-linear-gradient(top, #fcfcfc, #f9f9f9);
  background: -ms-linear-gradient(top, #fcfcfc, #f9f9f9);
  background: linear-gradient(top, #fcfcfc, #f9f9f9);
}
.ui-dialog-content { background-color: #fff; }
.ui-dialog-container {
  padding: 15px 20px 20px;
  font-size: 12px;
}
.ui-dialog-message {
  margin-bottom: 15px;
}
.ui-dialog-operation {
  zoom: 1; text-align: right;
}
.ui-dialog-confirm, .ui-dialog-cancel {
  display: inline;
}
.ui-dialog-operation .ui-dialog-confirm {
  margin-right: 4px;
}
.ui-dialog .ui-dialog-button-orange,
.ui-dialog .ui-dialog-button-white {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  padding: 0 12px;
  line-height: 23px;
  height: 23px;
  *overflow: visible; /* for a ie6/7 bug http://blog.csdn.net/jyy_12/article/details/6636099 */
  background-image: none;
}
a.ui-dialog-button-orange:hover,
a.ui-dialog-button-white:hover {
  text-decoration: none;
}
.ui-dialog .ui-dialog-button-orange {
  color: #fff;
  border: 1px solid #d66500;
  background-color: #f57403;
}
.ui-dialog .ui-dialog-button-orange:hover {
  background-color: #fb8318;
}
.ui-dialog .ui-dialog-button-white {
  border: 1px solid #afafaf;
  background-color: #f3f3f3;
  color: #777;
}
.ui-dialog .ui-dialog-button-white:hover {
  border: 1px solid #8e8e8e;
  background-color: #fcfbfb;
  color: #676d70;
}
.ui-mask {
  background-image: url(/assets/images/background_stripe.png);
}